DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=isi_password_mysql_anda
DB_NAME=perpustakaan_db

SECRET_KEY=ganti-dengan-string-acak-yang-panjang
UPLOAD_FOLDER=static/uploads/sampul
MAX_CONTENT_LENGTH_MB=5
